@use "../../styles/global.scss" as g;

.container {
  font-family: g.$work-sans;
  color: g.$primary-text-color;
  background: g.$white;
  max-width: 100%;
  height: 100px;
  display: flex;
  padding-left: calc(30px / 1440px * 100%);
  padding-right: calc(66.33px / 1440px * 100%);
  align-items: center;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}
.logo {
  height: 30px;
}
.searchbox {
  width: 400px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  position: relative;
  margin-left: calc(168.2px / 1440px * 100%);

  input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: none;
    font-weight: 400;
    border: 1px solid #d3d9e5;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 20px;
    font-family: g.$work-sans;
    outline-color: g.$tertiary-text-color;
  }

  button {
    height: 100%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: g.$tertiary-text-color;
    position: absolute;
    right: 0;
    bottom: 0;

    img {
      height: 14px;
    }
  }
}

.toolsbox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;

  a {
    color: g.$primary-text-color;
  }
}
.bell {
  display: block;
  height: 22.74px;
  width: 19.74px;
  margin-left: calc(50px / 1440px * 100%);
}
.user_account {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-left: calc(31px / 1440px * 100%);
}
.avatar_cont {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar {
  width: 100%;
}
.arrow_down {
  width: 7.34px;
}
